*{
    box-sizing: border-box;
    font-family:  Helvetica,Arial, sans-serif;
}

body{
    padding: 60px;
}

input{
    width: 100%;
    font-size: 1.3rem;
    color: green;
    padding: 3px 5px;
}
ol{
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 500px;
}

.giftGrid{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
    padding: 10px;
    border: 2px solid rgb(93, 173, 47, 0.5);
}
.giftGrid h2{
    width: 100%;
}
.giftGrid .item{
    width: 19%;
    min-width: 150px;
    margin: 5px;
}
img{
    width: 100%;
    height: 100px;
}

@keyframes fade {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}